<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: May 05, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="https://forms.gle/Hf3ewJXT9VpvChuVA" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:15</td>  <td><b>Setting up Python environment</b>: make sure you checked your setup </td>
      </tr>
      <tr> 
        <td>09:30</td>  <td> Introduction to Data Visualization</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td> Getting Started with Data: Collection and Cleaning</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Data Visualization: Basics</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: May 06, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Data Visualization: Basics</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td> Data Visualization: Basics (continued) </td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td> Data Visualization: Basics (continued) </td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td> Data Visualization: Basics (continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: May 07, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Data Visualization: Advanced Customization Techniques </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td> Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day three</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: May 08, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Data Visualization in Python </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>11:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td>
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>12:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://survey.mdc-berlin.de/875143?lang=en" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>